services:
  api:
    build:
      context: .
    container_name: api
    ports:
      - "8000:8000"

    environment:
      DATABASE_URL: "sqlite:////app/data/data.db"

    volumes:
      - /root/python_daint/data/data.db:/app/data/data.db
      - /root/python_daint/huggingfacemodels:/app/app/dainthuggingface/models

    restart: unless-stopped